<!doctype html>
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Live Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active btn btn-danger me-3" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn btn-danger me-3" href="#">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn btn-danger me-3" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn btn-danger me-3" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn btn-danger me-3" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                <li class="nav-item dropdown">
                    <a class="nav-link active btn btn-danger dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Categories</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        {% for catquery in catquery %}
                        <a class="dropdown-item text-dark" href="{% url 'cat' catquery.cat %}">{{catquery.cat}}</a>
                        
                        {%endfor%}
                        
                </li>
                </li>
            </ul>
            <div class="d-flex ms-auto">
                <button class="form-control btn btn-danger me-3" type="submit">Search</button>
                <button class="form-control btn btn-danger me-3" type="submit">Search</button>
                <button class="form-control btn btn-danger me-3" type="submit">Search</button>

            </div>
        </div>
    </div>
</nav>
</div>
</div>

<ul class="navbar navbar-expand-lg navbar-dark bg-dark">
    {% for catquery in subcatquery %}
    <li class="px-3 mt-2"><a class="btn btn-danger" href="{% url 'subcat' catquery.scat %}#product">{{catquery.scat}}</a>
    </li>
    {%endfor%}
    <form class="d-flex ms-auto mt-2 text-center">
        <input class="form-control me-3" type="search" placeholder="Product Search" aria-label="Search">
        <button class="form-control btn btn-danger" type="submit">Search</button>
    </form>
</ul>
</ul>