<!doctype html>
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Live Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active btn btn-danger me-3 mt-2" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn btn-danger me-3 mt-2" href="#product">Product</a>
                </li>
                <li class="nav-item dropdown mt-2">
                    <a class="nav-link active btn btn-danger dropdown-toggle me-3" href="#" id="dropdownId"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        {% for catquery in catquery %}
                        <a class="dropdown-item text-dark" href="{% url 'cat' catquery.cat %}">{{catquery.cat}}</a>

                        {%endfor%}

                </li>
                <li class="nav-item">
                    <a class="nav-link active btn btn-danger me-3 mt-2" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item mt-2">
                    <input id="searchInput" name="value" class="form-control me-3" placeholder="Product Search"
                        aria-label="Search">
                    <style>
                        #searchInput {
                            width: 364px;
                        }
                    </style>

                </li>
                <li class="nav-item">
                    <button class="btn btn-danger me-4 mt-2" onclick="search()" href="#">Search Item</button>
                </li>
                </li>
            </ul>
            <div class="d-flex ms-auto">
                <a class="form-control btn btn-danger me-3 mt-2" href="{% url 'contact' %}" >Contact</a>
                
                {% if not request.user.is_authenticated %}
                <a class="form-control btn btn-danger me-3 mt-2" href="{% url 'login' %}">Login/Register</a>
                {%else%}
                <button class="form-control btn btn-danger me-3 mt-2 rounded-circle ms-1" href="">{{request.user.username}}</button>&nbsp;&nbsp;
                <a class="form-control btn btn-danger me-3 mt-2" href="{% url 'logout' %}">Logout</a>
                {%endif%}
                <a class="form-control btn btn-danger me-3 mt-2" href="{% url 'cart' %}" >Cart</a>

            </div>
        </div>
    </div>
</nav>
</div>
</div>

<ul class="navbar navbar-expand-lg navbar-dark bg-dark">
    {% for catquery in subcatquery %}
    <li class="px-3"><a class="btn btn-danger"href="{% url 'subcat' catquery.scat %}#product">{{catquery.scat}}</a></li>
    {%endfor%}
    <script>
        function search() {
            const searchValue = document.getElementById('searchInput').value;
            if (searchValue === '') {
                window.location.href = '/#product'; // Redirect to the anchor directly
            } else {
                const targetUrl = `/search/${encodeURIComponent(searchValue)}#product`;
                window.location.href = targetUrl;
            }
        }
    </script>

</ul>
</ul>